breadability==0.1.20
cffi==1.8.3
chardet==2.3.0
cryptography==1.5.2
docopt==0.6.2
enum34==1.1.6
github3.py==1.0.0a4
idna==2.1
ipaddress==1.0.17
lxml==3.6.4
ndg-httpsclient==0.4.2
nltk==3.2.1
O365==0.9
pyasn1==0.1.9
pycparser==2.14
pygithub3==0.5.1
pyOpenSSL==16.1.0
requests==2.11.1
six==1.10.0
sumy==0.4.1
uritemplate==3.0.0
uritemplate.py==3.0.2
